<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <title>Резюме</title>

</head>
<body>
    <div id="header" class="section">
        <img alt="Фото профиля" class="img-circle" src="static\IMG_4633.PNG">
        <p>Сергей Кузьмин</p>
       </div>
    <div class="section">
        <h1><span><b>Обо мне</b></span></h1>
        <p>
        Привет! Меня зовут Сергей. Мне 27 лет. Я Системный администратор с опытом работы 1.5 года на первой и второй линии технической поддержки в области инфраструктуры рабочих мест. Качественно и быстро выполняю поставленные задачи от руководства. Обеспечиваю высокое качество сервиса на любом проекте. Большой опыт в координировании команды, устранении различных проблем пользователей, а также создание инструкций.</p><p>В свободное время я изучаю язык программирования Python, а также саморазвиваюсь в этой сфере. В рамках оказания сервиса международной компании, производящей табачные изделия, был достигнут лучший за всё время оказания сервиса уровень SLA по обработке запросов на создание новых аккаунтов пользователей.</p>
        
        <p class="quote">"Век живи - век учись."</p>
       </div>
    <div class="section">
       <h1><span>Мои скиллы</span></h1>
        <p><ul>
            <li><b>Операционные системы:</b> Microsoft Windows XP, 7,10, Microsoft Windows Server 2003/2008/2012/2016/2019, Linux</li>
            <li><b>Технологии виртуализации:</b> VMware, Hyper-V</li>
            <li><b>Системы развертывания:</b> SCCM, Intune</li>
            <li><b>Скриптинг и программирование:</b> PowerShell, CMD, Python, SQL, HTML, CSS, Markdown</li>
            <li><b>Инструменты:</b> ServiceNow, Creatio, VS code, PowerShell ISE, Active Directory, MS Dynamic CRM, Confluence, Postman, Zabbix, Flask</li>
            <li><b>Облачные технологии:</b> Microsoft 365, Azure AD, Exchange Online, MIM, SharePoint Online, MS Endpoint manager</li>
            <li><b>Сетевые технологии:</b> DHCP, DNS, TCP/IP, знание протоколов</li>
        </ul>
    </p>
    </div>
    <div class="section">
        <h1><span>Тренинги и обучение</span></h1>
        <p><ul>
            <li><b>Обучающие курсы</b> <a href="https://pluralsight.com">Pluralsight</a><b>:</b> Group Policy Fundamentals; Network basics, PowerShell for Microsoft 365, Introduction to PowerShell, PowerShell: Getting Started, Windows 10 Troubleshooting, Troubleshooting Difficult Problems in Windows, Windows Registry Troubleshooting, Windows 10 Client Administration, Python 3: Beyond the basics,
                Core Python 3: Getting started, Practical Python for Beginners, Introduction to SQL
                </li>
            <li><b>Обучающие курсы</b> <a href="https://udemy.com">Udemy</a><b>:</b> Microsoft SCCM/Endpoint Configuration Manager for Beginners, Zabbix.</li>
            <li><b>Внешние курсы:</b> ITIL Foundation 4, SQL, Markdown, HTML, CSS, Flask, Python, Linux, </li>
        </ul>
    </p>
    </div>
    <div class="section">
        <h1><span>Опыт работы</span></h1>
        
        <div class="c">
            <input type="checkbox" id="faq-1">
            <h1 class="faq"><label for="faq-1"><b>Оператор технической поддержки</b> | 06.2021 – 03.2022 <br></label></h1>
            <div class="p"><p>Французская компания, один из крупнейших европейских DIY-ритейлеров.<br>
        Удалённое выполнение технических запросов, связанных с программными продуктами и/или набором технических решений в ИТ-инфраструктуре Заказчика, а также приём поступающих обращений от пользователя.
    </p>
        <b>Технологии:</b>
            <ul>
                <li>Операционные системы: Microsoft Windows 7,10</li>
                <li>Скриптинг и программирование: PowerShell, CMD</li>
                <li>Инструменты: PowerShell ISE, Active Directory, Teams, Creatio, Postman, Dynamic CRM, 3CX, Confluence</li>
        </ul>
            <b>Задачи:</b>
            <ul>
                <li>Обеспечивал своевременное решение, планирование и контроль выполнения заявок</li>
                <li>Взаимодействовал с пользователями. Осуществлял приём и первичную поддержку поступающих обращение в ITSM</li>
                <li>Осуществлял приём входящих звонков от пользователей, а также самостоятельно решал проблемы пользователя при подключении</li>
        </ul>
            <b>Достижения:</b>
        <ul>
                <li>SLA в течение двух последних кварталов 2021 не менее 99%, что является отличным показателем KPI на проекте</li>
                <li>Был достигнут лучший за всё время оказания сервиса уровень SLA по обработке обращений и звонков</li>
                <li>Успешно закрыл наибольшее количество обращений пользователей за все время работы среди инженеров команды первой линии поддержки</li>
        </ul>
    <p>
    </div>
    </div>
    <div class="c">
        <input type="checkbox" id="faq-2">
        <h1 class="faq"><label for="faq-2"><b>Системный администратор</b> | 03.2022 – Настоящее время <br></label></h1>
        <div class="p"><p>Международная компания, производящая табачную продукцию.<br>
        Круглосуточная поддержка пользователей из разных стран. ~ 45 000 устройств в поддержке. Удаленное выполнение технических запросов по программным продуктам и/или комплексу технических решений в ИТ – инфраструктуре заказчика.
    </p>
        <b>Технологии:</b>
        <ul>
                <li>Операционные системы: Microsoft Windows up to 10, Windows Server</li>
                <li>Системы развертывания: SCCM, Intune</li>
                <li>Скриптинг и программирование: PowerShell, CMD</li>
                <li>Инструменты: PowerShell ISE, Active Directory, Teams, ServiceNow</li>
                <li>Облачные технологии: Microsoft 365, Azure AD, Exchange Online, MIM</li>
        </ul>
        <b>Задачи:</b>
        <ul>
                <li>Выполнял ежедневную поддержку программных продуктов под постоянным контролем, обеспечивая доступность IT-систем заказчика для конечных пользователей в качестве инженера 2-й линии поддержки</li>
                <li>Выполнял технические запросы на обслуживание IT-инфраструктуры заказчика</li>
                <li>Выполнял технические запросы на решение проблем в IT-инфраструктуре заказчика</li>
                <li>Подготавливал отчётность по проделанной работе</li>
                <li>Разрабатывал инструкции по решению запросов пользователей для новых коллег</li>
                <li>Координировал распределение обращений от пользователей и других подразделений</li>
                <li>Разрабатывал и обновлял инструкции по использованию программного обеспечения</li>
        </ul>
            <b>Достижения:</b>
        <ul> 
                <li>Координировал распределение нагрузки внутри команды, что помогло увеличить показатель OLA на проекте</li>
                <li>После закрытия всех старых пользовательских обращений, оставшихся от предыдущей команды поддержки, показатель OLA команды 2 линии технической поддержки по всем видам обращений был 98-100% на протяжении всего времени оказания сервиса</li>
                <li>Был достигнут лучший за всё время оказания сервиса уровень OLA по обработке запросов на создание новых аккаунтов пользователей</li>
                <li>Адаптировал скрипт, позволяющий быстро добавлять шаблонные комментарии к обращениям пользователей в используемой на проекте ITSM системе. Это ускорило и упростило процесс обработки запросов и инцидентов от пользователей командой</li>
                <li>В 2 и 3 квартале 2022 получал оценку качества работы (BARS оценка) от линейного и проектного руководства «Результаты работы выше ожиданий»</li>
        </ul>
        </div>
    </div>
    
        <div class="section">
            <h1><span>Мои контакты</span></h1>
        </div>
        <div class="mycontact">
            <div id="contact">
                <div id="telephone">
                    <a href="tel:+79674610764"><img src="static\icons8-телефон-48.png" id="img"></a>
                    <b>+7(967)461-07-64</b></div>
                
            </div>
            <div id="contact">
                <div id="mail">
                    <a href="mailto:serj.kuzmin95@gmail.com"><img src="static\icons8-gmail-48.png" id="img">serj.kuzmin95@gmail.com</a></div>
                  
                </div>
            <div id="contact">
                <div id="telegram"><a href="https://t.me/FeFewka" target="_blank"><img src="static\icons8-телеграмма-app-48.png" id="img">Телеграм</a></div>
                    
            </div>
            <div id="contact">
                <div id="hh"><a href="https://kazan.hh.ru/resume/c686fa8eff0b3fda1a0039ed1f7751665a6541" target="_blank"><img src="static\icons8-0-процентов-48.png" id="img">Резюме на HeadHunter</a>
                </div>
            </div>
            <div class="topbotton">
                <button onclick="topFunction()" id="myBtn" title="Прокрутить вверх"><img src="static\icons8-стрелка-вверх-в-круге-2-64.png"></button>
            </div>
        </div>
            <script src="static\js\script.js"></script>
            <footer>
            <div class="copyright">
                &copy; 2022 My Blog. All rights reserved.
            </div>
        </footer>
</body>
    
</html>